#input-container {
    --INPUT-accent: var(--color-primary);
    
    display: flex;
    flex-direction: row;

    gap: 10px;
}

#input-box, #input-prefix {
    font-size: 1.2rem;

    background-color: var(--color-bg1);

    outline: none;
    border-radius: 8px;
    border: 2px solid var(--INPUT-accent);
}

#input-box {
    width: 100%;
    padding: 10px;

    box-sizing: border-box;
    
    caret-color: rgb(251, 241, 199);
}

#input-prefix {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    color: var(--INPUT-accent);
    font-weight: bolder;

    box-sizing: border-box;
}