#input-container {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

#input-box, #input-prefix {
    font-size: 1.2rem;
}

#input-box {
    width: 100%;
    padding: 10px;

    box-sizing: border-box;

    color: rgb(251, 241, 199);
    background-color: var(--color-grey);

    outline: none;
    border-radius: 8px;
    border: 2px solid var(--color-light-grey);
    
    caret-color: rgb(251, 241, 199);
}

#input-prefix {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;

    color: rgb(251, 241, 199);
    background-color: var(--color-grey);

    outline: none;
    border-radius: 8px;
    border: 2px solid var(--color-light-grey);
}