@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('/static/css/input.css');
@import url('/static/css/preview.css');

:root {
    --color-black: rgb(28,28,28);
    --color-grey: rgb(40,40,40);
    --color-light-grey: rgb(60, 56, 54);
    --color-light-grey2: rgb(124, 111, 100);

    --color-primary: #d79921;
    --color-secondary: #458588;

    --color-success: #8ec07c;
    --color-error: #cc241d;
}

* {
    font-family: "JetBrains Mono", monospace;
}

body {
    max-height: 100vh;

    margin: 0;
    padding: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(251, 241, 199);
    background-color: var(--color-black);
}

#calculator-container {
    width: 60%;
    height: 60vh;
    
    padding: 2rem;
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    background-color: var(--color-grey);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 20px;
    
    border-radius: 12px;
    border: 1px solid var(--color-light-grey);
}