#output-container {
    flex-grow: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    overflow-y: scroll;
    padding: 10px;

    border: 2px solid var(--color-bg2);
    border-radius: 8px;
    background-color: var(--color-bg0);
}

.output-item {
    width: 100%;
    padding: 9px;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    color: var(--color-fg);
    
    border-radius: 8px;
    
    caret-color: var(--color-fg);
}

.output-item {
    --OUTPUT-ITEM-accent: var(--color-success);

    border: 2px solid var(--color-bg2);
    border-left-color: var(--OUTPUT-ITEM-accent);
    border-right-color: var(--OUTPUT-ITEM-accent);

    background-color: var(--color-bg1);

    &.active { background-color: rgb(from var(--OUTPUT-ITEM-accent) r g b / 10%); }
}

.output-input, .output-answer {
    padding: 5px;
}

.output-input {
    flex-grow: 1;
    margin-right: 0.75em;
    
    overflow-wrap: anywhere;
    text-wrap: wrap;
    word-break: break-all;
}

.output-answer {
    word-break: break-all;
    text-wrap: wrap;
    overflow-wrap: anywhere;

    margin-left: auto;

    padding-left: 7px;
    padding-right: 7px;

    border-radius: 8px;
    background-color: rgb(from var(--OUTPUT-ITEM-accent) r g b / 30%);
}