#output-preview {
    width: 100%;
    padding: 14px;

    box-sizing: border-box;

    color: var(--color-fg);
    
    outline: none;
    border-radius: 8px;
    
    caret-color: var(--color-fg);
}

#output-preview {
    --PREVIEW-accent: var(--color-primary);

    border: 2px solid var(--color-bg2);
    border-left-color: var(--PREVIEW-accent);
    border-right-color: var(--PREVIEW-accent);

    &.active { background-color: rgb(from var(--PREVIEW-accent) r g b / 10%); }
}