#output-preview {
    width: 100%;
    padding: 14px;

    box-sizing: border-box;

    color: rgb(251, 241, 199);
    background-color: var(--color-grey);

    outline: none;
    border-radius: 8px;
    border: 2px solid var(--color-success);
    border-top: 2px solid var(--color-light-grey);
    border-bottom: 2px solid var(--color-light-grey);
    
    caret-color: rgb(251, 241, 199);
}