.THEME_GRUVBOX {
    --THEME-bg0: rgb(28,28,28);
    --THEME-bg1: rgb(40,40,40);
    --THEME-bg2: rgb(60, 56, 54);
    --THEME-bg3: rgb(124, 111, 100);

    --THEME-fg: rgb(251, 241, 199);

    --THEME-primary: #d79921;
    --THEME-secondary: #458588;

    --THEME-success: #8ec07c;
    --THEME-error: #cc241d;

    --THEME-success: #73daca;
    --THEME-error: #f7768e;
}

.THEME_TOKYO_NIGHT {
    --THEME-bg0: #1a1b26;
    --THEME-bg1: #2a2b36;
    --THEME-bg2: #313858;
    --THEME-bg3: #414868;

    --THEME-fg: #a9b1d6;

    --THEME-primary: #7aa2f7;
    --THEME-secondary: #bb9af7;
}