<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/input.css">
        <link rel="stylesheet" href="/static/css/preview.css">
        <link rel="stylesheet" href="/static/css/output.css">
        <link rel="stylesheet" href="/static/css/modal.css">
        <link rel="stylesheet" href="/static/css/alert.css">

        <script>
            window.onerror = function (message, url, lineNo, columnNo, error) {
                document.body.innerHTML = `${message} at line ${lineNo}:${columnNo}`;
                return true;
            };
        </script>
        
        <script src="/static/jquery.js"></script>
    </head>

    <body>
        <!-- container -->
        <div id="calculator-container">
            <!-- alerts -->
            <div id="alert-container"></div>

            <!-- navbar -->
            <div id="navbar-container"></div>
            
            <!-- input box -->
            <div id="input-container">
                <div id="input-prefix">=</div>
                <input id="input-box" placeholder="Type expression here..."
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                >
            </div>
            
            <!-- command suggestions -->
            <!--<div></div>-->

            <!-- output preview -->
            <div id="output-preview">Type an expression to view it's output</div>

            <!-- output history -->
            <div id="output-container">
            </div>

			<div id="modal-container">
                <div id="modal-body">
                    <div id="modal-title">
                        <p id="modal-title-text">Modal: Help</p>
                        <button id="modal-close-button">Close</button>
                    </div>
                    
                    <div id="modal-content">
                        <h1 class="title">Help</h1>
                        <h3 class="subtitle">Gruvcalc Help</h3>
                        
                        <p>Type an expression into the input box to see its output. Click on any output to copy it to the clipboard.</p>
                        <p>Gruvcalc supports a wide variety of mathematical functions, as well as some custom commands. For a full list of supported syntax, see the <a href="/static/docs/syntax.md" target="_blank">syntax documentation</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <script type="module">
                import { Gruvcalc } from "/static/js/main.js";
                window.gruvcalc = new Gruvcalc();
                window.gruvcalc.init();
            </script>
        </div>
    </body>
</html>
