<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="module" src="/static/js/main.js"></script>
    </head>

    <body>
        <!-- container -->
        <div id="calculator-container">
            <!-- navbar -->
            <div id="navbar-container">
                <button class="navbar-button">Navbar Button</button>
            </div>
            
            <!-- input box -->
            <div id="input-container">
                <div id="input-prefix">=</div>
                <input id="input-box" placeholder="Type expression here..."
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="false"
                >
            </div>
            
            <!-- command suggestions -->
            <!--<div></div>-->

            <!-- output preview -->
            <div id="output-preview">Type an expression to view it's output</div>

            <!-- output history -->
            <div></div>
        </div>
    </body>
</html>